{
    "presets": [
        "@emotion/babel-preset-css-prop",
        {
           "autoLabel": "dev-only",
           "labelFormat" : "[local]",
           "useBuiltIns" : false,
           "throwIfNamespace" : true

        }
    ]
}